@page "/founditems/delete/{Id:int}"
@using ReUnited_frontend.DataModels
@using System.Net.Http.Headers
@inject NavigationManager nav
@inject HttpClient Http


<h3>Delete Confirmation</h3>

@if (item == null)
{
    <p>Loading...</p>
}
else
{
    <div class="box">
        <p>Are you sure you want to delete:</p>

        <strong>@item.ItemDescription</strong>
        <p>@item.City</p>

        <br />

        <button class="button is-danger" @onclick="ConfirmDelete">
            Yes, Delete
        </button>

        <button class="button" @onclick="Cancel">
            Cancel
        </button>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private FoundItem? item;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Http.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue(
                    "Bearer",
                    User.Token);

            item = await Http.GetFromJsonAsync<FoundItem>(
                $"http://localhost:5265/api/founditems/{Id}"
            );
        }
        catch
        {
            item = null;
        }
    }

    private async Task ConfirmDelete()
    {
        try
        {
            await Http.DeleteAsync(
                $"http://localhost:5265/api/founditems/{Id}"
            );

            nav.NavigateTo("/founditems");
        }
        catch
        {
          
        }
    }

    private void Cancel()
    {
        nav.NavigateTo("/founditems");
    }
}