@page "/founditems/edit/{Id:int}"
@using ReUnited_frontend.DataModels
@using System.Net.Http.Headers
@rendermode InteractiveServer
@inject HttpClient Http


@if (!User.Authenticated)
{
    <div class="notification is-warning">
        Please log in to edit reports.
    </div>
}
else if (isLoading)
{
    <p>Loading...</p>
}
else if (errorMessage != null)
{
    <div class="notification is-danger">
        <p>@errorMessage</p>
    </div>
}
else
{
    <div class="fixed-grid has-3-cols">
        <div class="grid">
            <div class="cell is-col-start-2">
                <FoundItemEditComponent EditFoundItem="FoundItem" OnSave="HandleSave" SuccessMessage="SuccessItem" />
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public FoundItem FoundItem { get; set; } = new();
    public bool SuccessItem { get; set; }

    public bool isLoading = true;
    public string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Load the item from the API
            FoundItem? response = await Http.GetFromJsonAsync<FoundItem>(
                $"http://localhost:5265/api/founditems/{Id}");

            if (response == null)
            {
                errorMessage = "Could not load found item.";
            }
            else
            {
                FoundItem = response;

                if (!User.Authenticated)
                {
                    errorMessage = "You are not authorised.";
                    isLoading = false;
                    return;
                }

                if (FoundItem.UserId != User.UserId)
                {
                    errorMessage = "You do not own this item.";
                    isLoading = false;
                    return;
                }
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading item: {ex.Message}";
        }

    }

    private async Task HandleSave(FoundItem updatedItem)
    {

        try
        {
            Http.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue(
                "Bearer",
                User.Token);

            var response = await Http.PutAsJsonAsync<FoundItem>(
                $"http://localhost:5265/api/founditems/{Id}",
                updatedItem);

            if (response.IsSuccessStatusCode)
            {
                SuccessItem = true;
            }
            else
            {
                var responseBody =
                    await response.Content.ReadAsStringAsync();

                errorMessage =
                    $"Status: {(int)response.StatusCode} {response.StatusCode}\n{responseBody}";
            }

            // if (response.IsSuccessStatusCode)
            // {
            //     SuccessItem = true;

            // }
            // else
            // {
            //     errorMessage = "Failed to update item.";
            // }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error updating item: {ex.Message}";
        }
    }
}
