@using ReUnited_frontend.DataModels
@page "/founditems/{Id:int}"
@inject HttpClient Http

<div style="">  
    @if (FoundItem == null)
    {
        <div>
            <h3>Cannot load found items</h3>
            <p>@errorMessage</p>
        </div>
    }
    else
    {
        <div>
            <FoundItemSummary FoundItem="@FoundItem" />
        </div>
    }
</div>

@code {
    [Parameter]
    public FoundItem? FoundItem { get; set; }

    [Parameter]
    public int Id { get; set; }

    public bool isLoading = true;
    private string? errorMessage = String.Empty;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            FoundItem = await Http.GetFromJsonAsync<FoundItem>($"http://localhost:5265/api/founditems/{Id}");
            isLoading = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }
}