@page "/lostitems/edit/{Id:int}"
@using ReUnited_frontend.DataModels
@rendermode InteractiveServer


@if (isLoading)
{
    <p>Loading...</p>
}
else if (errorMessage != null)
{
    <div class="notification is-danger">
        <p>@errorMessage</p>
    </div>
}
else
{
    <div class="fixed-grid has-3-cols">
        <div class="grid">
            <div class="cell is-col-start-2">
                <LostItemEditComponent EditLostItem="LostItem" OnSave="HandleSave" SuccessMessage="SuccessItem" />
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public LostItem LostItem { get; set; } = new();
    public bool SuccessItem { get; set; }

    public bool isLoading = true;
    public string? errorMessage;

    public HttpClient Client = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Load the item from the API
            LostItem? response = await Client.GetFromJsonAsync<LostItem>(
                $"http://localhost:5265/api/lostitems/{Id}");

            if (response == null)
            {
                errorMessage = "Could not load lost item.";
            }
            else
            {
                LostItem = response;
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading item: {ex.Message}";
        }

        isLoading = false;
    }

    private async Task HandleSave(LostItem updatedItem)
    {
        Console.WriteLine("PARENT RECEIVED UPDATED DATA:");
        
        

        try
        {
            var response = await Client.PutAsJsonAsync<LostItem>(
                $"http://localhost:5265/api/lostitems/{Id}",
                updatedItem);

            if (response.IsSuccessStatusCode)
            {
                SuccessItem = true;
                
            }
            else
            {
                errorMessage = "Failed to update item.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error updating item: {ex.Message}";
        }
    }
}
