@page "/lostitems/delete/{Id:int}"
@using ReUnited_frontend.DataModels
@inject NavigationManager nav

<h3>Delete Confirmation</h3>

@if (item == null)
{
    <p>Loading...</p>
}
else
{
    <div class="box">
        <p>Are you sure you want to delete:</p>

        <strong>@item.ItemDescription</strong>
        <p>@item.City</p>

        <br />

        <button class="button is-danger" @onclick="ConfirmDelete">
            Yes, Delete
        </button>

        <button class="button" @onclick="Cancel">
            Cancel
        </button>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private LostItem? item;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var http = new HttpClient();

            item = await http.GetFromJsonAsync<LostItem>(
                $"http://localhost:5265/api/lostitems/{Id}"
            );
        }
        catch
        {
            item = null;
        }
    }

    private async Task ConfirmDelete()
    {
        try
        {
            var http = new HttpClient();

            await http.DeleteAsync(
                $"http://localhost:5265/api/lostitems/{Id}"
            );

            nav.NavigateTo("/lostitems");
        }
        catch
        {
          
        }
    }

    private void Cancel()
    {
        nav.NavigateTo("/lostitems");
    }
}