@using ReUnited_frontend.DataModels
@page "/lostitems/{Id:int}"

<h3>LostItemDetails</h3>

@if (LostItem == null)
{
    <div>
        <h3>Cannot load lost items</h3>
        <p>@errorMessage</p>
    </div>
}
else
{
    <div>
        <LostItemSummary LostItem="@LostItem" />
    </div>
}


@code {
    [Parameter]
    public LostItem? LostItem { get; set; }

    [Parameter]
    public int Id { get; set; }

    public HttpClient Client = new HttpClient();
    public bool isLoading = true;
    private string? errorMessage = String.Empty;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            LostItem = await Client.GetFromJsonAsync<LostItem>($"https://localhost:5265/albums/{Id}");
            isLoading = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = $"An error occurred: {ex.Message}";

        }
    }

}
