@page "/lostitems/add"
@rendermode InteractiveServer
@using ReUnited_frontend.DataModels


@if (LostItem == null)
{
    <div>
        <h3>Cannot add lost item</h3>
        <p>@errorMessage</p>
    </div>
}
else
{
    <div class="fixed-grid has-3-cols">
        <div class="grid">
            <div class="cell is-col-start-2">
                <LostItemAddComponent LostItem="@LostItem" OnSave="SaveLostItem" />
            </div>

        </div>
    </div>
}


@code {
    private LostItem? LostItem { get; set; } = new();

    [Parameter]
    public int Id { get; set; }

    private HttpClient Client = new HttpClient();
    public bool isLoading = true;
    private string? errorMessage = String.Empty;


    private async Task SaveLostItem(LostItem lostItem)
    {
        try
        {
            var response = await Client.PostAsJsonAsync<LostItem>($"http://localhost:5265/api/lostitems", lostItem);

            if (response != null)
            {
                response.EnsureSuccessStatusCode();
            }

            isLoading = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = $"An error occurred: {ex.Message}";

        }
    }

}
