@page "/lostitems/add"
@rendermode InteractiveServer
@using ReUnited_frontend.DataModels


@if (LostItem == null)
{
    <div>
        <h3>Cannot add lost item</h3>
        <p>@errorMessage</p>
    </div>
}
else
{
    <div class="fixed-grid has-3-cols">
        <div class="grid">
            <div class="cell is-col-start-2">
                <LostItemAddComponent LostItem="@LostItem" OnSave="SaveLostItem" />
            </div>

        </div>
    </div>
}


@code {
    private LostItem? LostItem { get; set; } = new();

    [Parameter]
    public int Id { get; set; }

    private HttpClient Client = new HttpClient();
    public bool isLoading = true;
    private string? errorMessage = String.Empty;


    private async Task SaveLostItem((LostItem Item, IBrowserFile? File) data)
    {
        try
        {
            using var content =
                        new MultipartFormDataContent();

            content.Add(
                new StringContent(data.Item.City),
                "City");

            content.Add(
                new StringContent(data.Item.Postcode),
                "Postcode");

            content.Add(
                new StringContent(
                    data.Item.Email ?? string.Empty),
                "Email");

            content.Add(
                new StringContent(
                    data.Item.PhoneNumber ?? string.Empty),
                "PhoneNumber");

            content.Add(
                new StringContent(
                    data.Item.Category),
                "Category");

            content.Add(
                new StringContent(
                    data.Item.ItemDescription),
                "ItemDescription");

            content.Add(
                new StringContent(
                    data.Item.AdditionalInformation),
                "AdditionalInformation");

            if (data.File is not null)
            {

                var stream =
                    data.File.OpenReadStream(10 * 1024 * 1024);

                var fileContent =
                    new StreamContent(stream);

                fileContent.Headers.ContentType =
                    new System.Net.Http.Headers
                        .MediaTypeHeaderValue(
                            data.File.ContentType);

                content.Add(
                    fileContent,
                    "Image",
                    data.File.Name);
            }

            var response =
                await Client.PostAsync(
                    "http://localhost:5265/api/lostitems", 
                    content);

            if (!response.IsSuccessStatusCode)
            {
                var error =
                    await response.Content.ReadAsStringAsync();

                Console.WriteLine(error);

                throw new Exception(error);
            }

            isLoading = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = $"An error occurred: {ex.Message}";

        }
    }

}
