@page "/lostitems/edit/{Id:int}"


@if(LostItem == null)
{
	<div>
		<h3>Cannot load lost items</h3>
		<p>@errorMessage</p>
	</div>
}
else
{	
 <div>
	 <LostItemEditComponent EditLostItem="LostItem" SuccessMessage=""/>
 </div>

}


@code {
@using ReUnited_frontend.DataModels
@using System.Text.Json


	[Parameter]
	public LostItem LostItem { get; set; } = new();

	[Parameter]
	public int Id { get; set; }

	public string SendSuccess { get; set; } = "";

	public HttpClient Client = new HttpClient();

	public bool isLoading = true;
	private string? errorMessage = String.Empty;


	protected override async Task OnInitializedAsync()
	{
		try
		{
			var response = await Client.PatchAsJsonAsync<LostItem>($"http://localhost:5265/api/lostitems/{Id}",LostItem, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

			SendSuccess = response.EnsureSuccessStatusCode().Content.ToString();

			isLoading = false;

		}

		catch(Exception ex)
		{
		Console.WriteLine(ex.Message);
		errorMessage = $"An error occurred: {ex.Message}";

		}
	}


	


}
