@page "/register"
@rendermode InteractiveServer

@using ReUnited_frontend.DataModels

@inject HttpClient Http
@inject NavigationManager Nav

<div class="columns is-centered">
    <div class="column is-one-third">
        <label class="label">Email</label>

        <div class="control mb-4">
            <InputText class="input"
                       @bind-Value="Email"
                       placeholder="Email" />
        </div>

        <div class="field">
            <label class="label">Password</label>

            <div class="control mb-4">
                <InputText class="input"
                           type="password"
                           @bind-Value="Password"
                           placeholder="Password" />
            </div>
        </div>

        <div class="buttons is-centered">
            <div class="navbar-item">
                <a class="button is-primary" @onclick="RegisterAsync">
                    <strong>Create Account</strong>
                </a>
            </div>
        </div>
    </div>
</div>


<p>@Message</p>

@code {
    private string Email = "";
    private string Password = "";
    private string Message = "";

    private async Task RegisterAsync()
    {
        try
        {
            var request =
                new RegisterRequest
                {
                    Email = Email,
                    Password = Password
                };

            var response =
                await Http.PostAsJsonAsync(
                    "api/auth/register",
                    request);

            if (response.IsSuccessStatusCode)
            {
                Message =
                    "Account created successfully.";

                Nav.NavigateTo("/login");
            }
            else
            {
                Message =
                    await response.Content.ReadAsStringAsync();
            }
        }
        catch (Exception ex)
        {
            Message = ex.Message;
        }
    }
}
