@page "/useritems"

<h3 class="title is-3 container is-fluid px-4">My Submitted Items
	<p class="subtitle is-6 has-text-grey">
		View and manage the items you have posted.
	</p>
</h3>


@using ReUnited_frontend.Components.UI
@using ReUnited_frontend.DataModels
@using System.Text.Json.Serialization


@if (_summaryLoader != null)
{
	<div>
		<LostItemsSummaryListUserMock LostItems="_summaryLoader" />
	</div>

}

else
{

	<div>
		<h3>Cannot load albums</h3>
		<p>@errorMessage</p>
	</div>
}

@code {
	@rendermode InteractiveServer
	private List<LostItem> _summaryLoader { get; set; } = new();

	private string errorMessage = "";

	private bool showDeleteModal = true;

	private LostItem? selectedItem;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var http = new HttpClient();
			var response = await http.GetFromJsonAsync<List<LostItem>>($"http://localhost:5265/api/lostitems");

			if (response != null)
			{
				_summaryLoader = response;
			}

		}

		catch (Exception ex)
		{
			errorMessage = $"An error occurred: {ex.Message}";
		}
	}
	private async Task OpenDeleteModal(LostItem item)
	{
		selectedItem = item;
		showDeleteModal = true;
		await InvokeAsync(StateHasChanged);
	}

	private void CloseDeleteModal()
	{
		selectedItem = null;
		showDeleteModal = false;
	}

	private async Task DeleteItem(LostItem item)
	{
		Console.WriteLine($"Attempting to delete item with ID: {item.Id}");
		try
		{
			var http = new HttpClient();
			var response = await http.DeleteAsync(
				$"http://localhost:5265/api/lostitems/{item.Id}"
			);

			_summaryLoader = _summaryLoader
			.Where(x => x.Id != item.Id)
			.ToList();

			CloseDeleteModal();
		}
		catch (Exception ex)
		{
			errorMessage = $"Delete failed: {ex.Message}";
		}
	}
}




@code {

}
