<div class="modal is-active is-clipped">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="box">
            <div class="content has-text-centered mb-5">
                <p class="title is-5 has-text-danger">
                    Are you sure you want to delete this item?
                </p>
                <p class="subtitle is-6">
                    This action cannot be undone.
                </p>
            </div>

            <div class="buttons is-centered">
                <button class="button is-danger" @onclick="ConfirmDelete">
                    Delete
                </button>

                <button class="button is-light" @onclick="Close">
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <button class="modal-close is-large"
            aria-label="close"
            @onclick="Close">
    </button>
</div>

@code {
    @using ReUnited_frontend.DataModels
    @rendermode InteractiveServer
    


    [Parameter] public FoundItem Item { get; set; }

    [Parameter] public EventCallback OnClose { get; set; }

    [Parameter] public EventCallback<FoundItem> OnConfirmDelete { get; set; }

    private async Task Close()
    {
        await OnClose.InvokeAsync();
    }

    private async Task ConfirmDelete()
    {
        await OnConfirmDelete.InvokeAsync(Item);
    }
}
