@using ReUnited_frontend.DataModels
<h3>LostItemsSummaryList</h3>

<div class="fixed-grid has-4-cols-widescreen has-3-cols-tablet has-2-cols-mobile">
    <div class="grid">
        @foreach (var lostItem in LostItems)
        {
            <div class="column">
                <LostItemSummary LostItem="@lostItem" />
            </div>
        }
    </div>
</div>


@code {
    [Parameter]
    public List<LostItem> LostItems { get; set; } = new List<LostItem>
    {
                new LostItem(
                    1,
                    "London",
                    "SW1A1AA",
                    "john.doe@example.com",
                    "07123456789",
                    "Wallet",
                    "Black leather wallet",
                    "Lost near station",
                    "wallet.jpg"
            ),
                new LostItem(
                    2,
                    "London",
                    "SW1A1AA",
                    "john.doe@example.com",
                    "07123456789",
                    "Wallet",
                    "Black leather wallet",
                    "Lost near station",
                    "wallet.jpg"
            ),
                new LostItem(
                    3,
                    "London",
                    "SW1A1AA",
                    "john.doe@example.com",
                    "07123456789",
                    "Wallet",
                    "Black leather wallet",
                    "Lost near station",
                    "wallet.jpg"
            )

    };


}
