<div>
    <div class="modal is-active is-clipped">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="content has-text-centered mb-5">
                    <p class="title is-5 has-text-danger">
                        Are you sure you want to delete this item?
                    </p>
                    <p class="subtitle is-6">
                        This action cannot be undone.
                    </p>
                </div>
                <div class="buttons is-centered">
                    <button class="button is-danger" @onclick="ConfirmDelete">
                        Delete
                    </button>          
                    <button class="button is-light" @onclick="ChangeModal">Cancel</button>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @onclick="ChangeModal"></button>
    </div>    
</div>

@code {
    @rendermode InteractiveServer
    @using ReUnited_frontend.DataModels

    [Parameter]
    public bool HideModal { get; set; } = false;

    [Parameter]
    public EventCallback<bool> Modal { get; set; }

    [Parameter]
    public LostItem DeleteData { get; set; } = new();

    private async Task ChangeModal()
    {
        await Modal.InvokeAsync(false);
    }

    private async Task ConfirmDelete()
    {
        

    }

}
