<div class="box">
	<div>
		<label>City</label>
		<InputText @bind-Value="EditLostItem.City"/>
	</div>

	<div>
		<label>Postcode</label>
		<InputText @bind-Value="EditLostItem.Postcode" />
	</div>

	<div>
		<label>Email</label>
		<InputText @bind-Value="EditLostItem.Email" />
	</div>

	<div>
		<label>Category</label>
		<InputText @bind-Value="EditLostItem.Category" />
	</div>

	<div>
		<label>Item Description</label>
		<InputText @bind-Value="EditLostItem.ItemDescription" />
	</div>

	<div>
		<label>Additional Information</label>
		<InputText @bind-Value="EditLostItem.AdditionalInformation" />
	</div>

	<button @onclick="SaveItem">Update</button>

	

	<div class="mt-5">

		@SuccessMessage

	</div>
</div>




@code {
@using ReUnited_frontend.DataModels
@rendermode InteractiveServer

	[Parameter]
	public LostItem EditLostItem { get; set; } = new();

	[Parameter]
	public LostItem SuccessMessage { get; set; } = new();

	[Parameter]
	public EventCallback<LostItem> OnSave { get; set; }

	private async Task SaveItem()
	{
		Console.WriteLine(SuccessMessage.City);
		Console.WriteLine("Pressing");
		await OnSave.InvokeAsync(EditLostItem);
	}

}
