

<section class="hero is-fullheight has-background-black">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="box has-background-dark has-text-centered">
                        <p class="has-text-grey-light mb-3 is-size-7">
                            Lost & found made easy
                        </p>

                        <h2 class="title is-1 has-text-white">
                            ReUnited
                        </h2>

                        <p class="subtitle is-5 has-text-grey-light">
                            Helping people reconnect with their lost belongings.
                        </p>

                        <div class="buttons is-centered mb-2">
                            <NavLink class="button is-primary is-large" href="/lostitems">
                                Browse Lost Items
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
