@if (!string.IsNullOrWhiteSpace(ToastMessage.Message))
{
    <div class="notification is-primary mb-0">
        <button class="delete" @onclick="Clear"></button>
        @ToastMessage.Message
    </div>
}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // If a message exists, start the auto-hide timer
        if (!string.IsNullOrWhiteSpace(ToastMessage.Message))
        {
            await Task.Delay(2000);   // 2 seconds
            ToastMessage.Message = null;
            StateHasChanged();
        }
    }

    
    private void Clear()
    {
        ToastMessage.Message = null;
    }
}

